body {
    background-color: #f8f8f8;
    padding-left: 300px;
}

.main {
    position: absolute;
}

.sidebar {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    min-height: 100%;
    border-right: 1px solid #aaa;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 15px 30px;
}

#graph {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

hr {
    height: 1px;
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 15px 0;
}

.sb, .cn {
    display: none;
}

.cn {
    margin: 15px 0;
}

.gallery_graph {
    display: inline-block;
    margin: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
